<div class="photos" >
  <div *ngIf="photos.length && currentUser && currentUser.isAdmin" class="buttons">
    <div class="left">
        <button type="button" class="btn btn-primary"(click)="choosePhotos()">Choose</button>
        <div class="message"> {{message}}</div>
    </div>
    <div class="right">
      <button type="button" class="btn btn-outline-success ban" *ngIf="chooseClicked" (click)="allowPhotos()">Allow</button>
      <button type="button" class="btn btn-outline-danger" *ngIf="chooseClicked" (click)="banPhotos()">Ban</button>
      <button type="button" class="btn btn-danger" *ngIf="chooseClicked" (click)="deletePhotos()">Delete</button>
    </div>

  </div>

  <br>
    <div *ngFor="let photo of photos" class="photo">
      <img (click)="goToPhotoCard(photo._id)" [src]="'http://localhost:8000/api/files/' + photo.file_id" [class.banned]="photo.isBanned">
      <input type="checkbox" value="{{photo._id}}" *ngIf="chooseClicked" (change)="onChange($event.target.value)">
    </div>

  </div>
