.photos {
    margin: 0px 15%;
    padding: 5px;
}
.buttons{
    overflow: hidden;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.ban{
    margin-left: 25%;
}
.photo{
    position: relative;
    display: inline;
}
.photos img {
    height: 200px;
    margin: 5px;
}
.photos img:hover{
    cursor: pointer;
}
input{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    position: absolute;
    top: -80px; 
    left: 15px;
}
.banned {
    filter: blur(5px) brightness(16%);
  }