header{
    background-color: black;
    overflow: hidden;
}
wired-fab{
    color: #ff4081;
    float: left;
}
nav{
    float: right;
    width: 50%;
}

.signin, .signout{
    margin-left: 65%;  
    margin-right: 15px; 
}
