<header>
  <wired-fab routerLink="/mainpage" id="btn1">favorite</wired-fab>

  <nav>
    <button type="button" class="btn btn-light signout" *ngIf="currentUser" (click)="signOut()">Sign out</button>
    <button type="button" class="btn btn-light" *ngIf="currentUser" routerLink="/profile">My profile</button>
    <button type="button" class="btn btn-light signin" *ngIf="!currentUser" routerLink="/signin">Sign in</button>
    <button type="button" class="btn btn-light" *ngIf="!currentUser" routerLink="/signup">Sign up</button>
  </nav>
</header>
