<div class="inspiration"[style.backgroundImage]="'url('+ mainImage +')'">
  <p>
      Find inspiration and share your best photos
  </p> 
  <button type="button" class="btn btn-outline-dark"(click)="morePhotos()">more photos</button>
</div>