.inspiration {
    transition: all 0.3s ease-in-out;
    color: antiquewhite; 
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    background-image: url('../../../assets/img/image.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.inspiration p{
    margin: 0;
    font-size: 40px;
    position: absolute;
    top: 23%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
button{
    font-size: 20px;
    color: black;
    background-color: antiquewhite;
    border-color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}