<div class="forma">
  <h3> Sign Up</h3> 
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div class="inputs">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" required>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" required>
      <br>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
      <label for="password">Repeat password</label>
      <input type="password" id="repeat-password" (change)="onChange($event.target.value)" required>
      <button type="submit" class="btn btn-info" [disabled]="!signUpForm.valid">Sign up</button>
      </div>

      <div class="message">{{message}}</div>
      <div class="message" *ngIf="isControlInvalid('name')">
          Field name is required
      </div>
      <div class="message" *ngIf="isControlInvalid('email')">
        Field email is required
        </div>
      <div class="message" *ngIf="isControlInvalid('password')">
          Field password is required
      </div>
  </form>
</div>