.forma{
    width: 25%;
    margin: 4% 38%;
    border: 3px solid rgb(23, 162, 184);
  }  
  h3{
    text-align: center;
    color: rgb(23, 162, 184);
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  button[type=submit] {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .inputs {
    margin: 5% 5%;
    width: 90%;
  }