.forma{
  width: 25%;
  margin: 4% 38%;
  border: 3px solid rgb(23, 162, 184);
}
h3{
    text-align: center;
    color: rgb(62, 128, 182);
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
.ng-invalid+.ng-touched input{
  border-color: red;
}
button[type=submit] {
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.inputs {
  margin: 5% 5%;
  width: 90%;
}

