<div class="forma"> 
    <h3> Sign in</h3> 
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <button type="submit" class="btn btn-info" [disabled]="!signInForm.valid">Login</button>
        </div>
        <div class="message">{{message}}</div>
        <div class="message" *ngIf="isControlInvalid('email')">
              Field email is required
        </div>
        <div class="message" *ngIf="isControlInvalid('password')">
              Field password is required
        </div>
    </form>
  </div>
      





