<div class="choice">
    <p>
        Search photos by tags
    </p>
    <label for="tags">Tags</label>
    <br>
    <input type="text" id="tags" [(ngModel)]="tags" (change)="onChange($event.target.value)" required>
    <button type="button" class="btn btn-dark" value="Search" (click)="searchPhotosByTags()">Search</button>
  </div>
  
  <div *ngIf="tags && photosByTags$ | async as photosByTags">
    <p class="message" *ngIf="!photosByTags.length && photosRequested">There are no photos with this tags</p>
    
  <app-show-photos [photos]="photosByTags"></app-show-photos>
  </div>