.choice{
    height: 150px;
    color: rgb(94, 89, 105);
    position: relative;
}
.choice p{
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
label, input{
    width: 18%;
    font-size: 20px;
    position: absolute;
    top: 88%;
    left: 47%;
    transform: translate(-50%, -50%);
}
button{
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
}