.forma{
    width: 25%;
    margin: 4% 38%;
    border: 3px solid rgb(23, 162, 184);
}
h3{
    text-align: center;
    color: rgb(23, 162, 184);
}
input[type=text], input[type=file], input[type=textarea], .selectCategory{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.selectCategory:focus {
  box-shadow: 0 0 3pt 2pt #719ECE;    
}
button[type=submit] {
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  cursor: pointer;
  width: 100%;
}
.inputs {
  margin: 5% 5%;
  width: 90%;
}
  
  