<div elevation="3" class="forma">
  <h3>Photo upload</h3> 
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="inputs"> 
      <input type="file" (change)="onFileChange($event)">
      <input type="text" formControlName="name" placeholder="title" required>
      <br>      
      <select formControlName="category_id"  class="selectCategory">
        <option value="">Select a category</option>
        <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option> 
      </select>
      <br>
      <input type="textarea" formControlName="description" placeholder="description">
      <br>
      <input type="text" formControlName="tags" placeholder="tags">
      <br>
      <button type="submit" class="btn btn-info"  [disabled]="!uploadForm.valid">Upload</button>
      </div>
      <div class="message" *ngIf="isControlInvalid('name')">
          Field title is required
         </div>
    </form>
  <div class="message">{{message}}</div>

</div>
