<div *ngIf="currentUser">
  <h3>{{currentUser.name}}</h3>
  <div class="top">
      <div class="right">
          <button type="button" class="btn btn-info upload" routerLink="/upload">Upload new photo</button>
      </div>
        
      <div class="left">         
        <div *ngIf="currentUser.isAdmin" class="changeCat">
          <label>Category(one word):</label> 
          <br>
          <input type="text" id="category" (change)="onChange($event.target.value)" required>
          <button type="button" class="btn btn-outline-success"  (click)="addCategory()">Add category</button>
          <button type="button" class="btn btn-outline-danger"  (click)="deleteCategory()">Delete category</button>
        </div>   
        <div class="message">{{message}}</div>
            
      </div>  
  </div>
 
  <div  *ngIf="!(userPhotos.length>0)">You haven't uploaded any photos yet</div>
  <div class="photos" *ngIf="userPhotos.length>0">
    <h4>
        Your uploaded photos
    </h4>
    
    <app-show-photos [photos]="userPhotos"></app-show-photos>
  </div>
  
</div>