.top{
    overflow: hidden;
}
.right{
    float: right;
    width: 50%;
}
.left{
    float: left;
    width: 50%;
}
.btn{
    margin-top: 5px;
}
.upload{
    margin-left: 72%;
    margin-top: 10px;

}
.changeCat, strong{
    margin: 15px;
    margin-top: 5px;
}
input[type=radio] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    margin: 15px;
}
input[type=text]{
    font-size: 17px;
}
h3, h4{
    margin: 0px 15%;
    text-align: center;
}