/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
.message{
    color: rgb(0, 81, 128);
    font-weight: bold;
}
a{
    text-decoration: none;
}
.btn{
    margin: 10px;
}