<div class="choice">
  <p>
      The top photos, chosen by you
  </p>
  <select id="selectCategory" [ngModel]="selectedCategory || ''" (ngModelChange)="onChange($event)">
          <option value="" disabled selected hidden>Select a category</option>
          <option *ngFor="let category of categories$ | async" [value]="category">{{category}}</option>
  </select>

</div>

<div *ngIf="selectedCategory && photosByCategory$ | async as photosByCategory">
  <p class="message" *ngIf="!photosByCategory.length">There are no photos in this category yet</p>

  <app-show-photos [photos]="photosByCategory"></app-show-photos>
</div>
