.choice{
    height: 150px;
    color: rgb(94, 89, 105);
    position: relative;
}
.choice p{
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
select{
    font-size: 20px;
    color:  #443868ee;
    border-top: none;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    
    transform: translate(-50%, -50%);
}
select:focus {
    box-shadow: 0 0 3pt 2pt rgb(94, 89, 105);;    
}
.search{
    position: absolute;
    top: 71%;
    left: 55%;
    margin-right: -50%;
    margin-bottom: 0px;
    transform: translate(-50%, -50%);
}
