.mat-card{
   background-color: #232325;
   align-items: center;
   justify-content: center;
}
.mat-card-image{
   display: flex;
   position: relative;
   margin: auto;
   width: auto;
   max-width: 40%;
   height: auto;
   max-height: calc(100vh - 225px);
}
.mat-card-image:first-child {
    margin-top: 10px;
}
mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer){
    margin-bottom: 10px;
}
.banned {
    filter: blur(10px) brightness(16%);
    margin-top: 20px;
}
.mat-card-content{
    background-color: white;
    margin: 10px 20%;
    font-size: 20px;
}
.top{
    overflow: hidden;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.tags{
    font-weight: bold;
    margin-left: 5px;
    display: inline;
}
.tag{
    display: inline;
    padding: 5px;
    margin: 5px;
    border: 2px solid #60e9d7;
    border-radius: 6px;
}
