<section *ngIf="photoInfo$ | async">
  <mat-card class="example-card">
    <img mat-card-image
         [src]="'http://localhost:8000/api/files/' + photo.file_id"
         [class.banned]="photo.isBanned">
  </mat-card>
  <mat-card-content>
    <div class="top">
      <div class="left">
        <div class="message">{{message}}</div>
        <strong>{{photo.name}}</strong><br>
        by {{owner.name}}
        <br>
        <p>Taken on {{date}} </p>
      </div>

      <div class="rigth">
        <div *ngIf="currentUser && currentUser.isAdmin">
          <button type="button"
                  class="btn btn-outline-danger"
                  (click)="toggleBanPhoto()">{{photo.isBanned ? 'Allow photo' : 'Ban photo'}}</button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="deletePhoto()">Delete photo</button>
          </div>
          <button type="button"
                  class="btn btn-dark "
                  *ngIf="photo.isBanned"
                  (click)="showPhoto()">Show photo</button>
      </div>     
      
    </div>

    <p>{{photo.description}}</p>
    <div class="tags"
         *ngIf="photo.tags[0]">
      <p> 
        Tags
      </p>
      <div *ngFor="let tag of photo.tags" class="tags"> 
           <div class="tag"
           elevation="2" *ngIf="tag">
           {{tag}}
           </div>
           
          </div>
    </div>
    <br>
    <button type="button"
            class="btn btn-dark"
            routerLink="/tagssearch">Search by tags</button>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="open(content)">Imprint</button>

  </mat-card-content>

  <ng-template #content
               let-modal>
    <div class="modal-header">
      <h4 class="modal-title"
          id="modal-basic-title">Imprint</h4>
      <button type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="imprintForm">
        <div class="form-group">
          <label for="name">Your name</label>
          <input id="name"
                 class="form-control"
                 formControlName="name"
                 required>
          <label for="email">Your email</label>
          <input id="email"
                 class="form-control"
                 formControlName="email"
                 required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit"
              class="btn btn-outline-dark"
              (click)="onSubmit(modal)"
              [disabled]="!imprintForm.valid">Request imprint</button>
    </div>
  </ng-template>

</section>
